body {
    background: #2c2c2c;
}

main {
    margin-top: 30px;
    text-align: center;
}

main h1 {
    color: #fff;
}

main h5 {
    color: #fff;
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
}

main p {
    color: #909090;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    border-width: 4px;
    border-color: #fff;
    border-style: double;
    padding: 15px;
}

.form_radio_group {
	display: inline-block;
	overflow: hidden;
}

.form_radio_group-item {
	display: inline-block;
	float: left;
}

.form_radio_group input[type=radio] {
	display: none;
}

.form_radio_group label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-right: none;
	user-select: none;
    color: #fff;
}

.form_radio_group .form_radio_group-item:first-child label {
	border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
	background: #909090;
    color: #000;
}

/* Hover */
.form_radio_group label:hover {
	color: #666;
}

.table_by_css {
    border: 0px;
    margin-left: 50px;
}

.table_center_by_css {
    border: 0px;
    margin: auto;
    padding: 10px;
}

.header-h5 h5 {
    position: relative;
    padding-bottom: .5rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.header-h5 h5::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid #fff;
    bottom: .25rem;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
}
.header-h5 h5::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #fff;
    bottom: 0;
    left: 50%;
    width: 15%;
    transform: translateX(-50%);
}
.header-h5-left h5 {
    text-align: left;
}
.header-h5-left h5::before,
.header-h5-left h5::after {
    left: 0;
    transform: translateX(0);
}
.header-h5-right h5 {
    text-align: right;
}
.header-h5-right h5::before,
.header-h5-right h5::after {
    left: unset;
    right: 0;
    transform: translateX(0);
}

.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #333;
}